<!DOCTYPE html >
<html ng-app="myTwit">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
        <script src="/bundles/mytwitmytwit/js/Config.js"></script>
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="/bundles/mytwitmytwit/css/style.css" />
        {% endblock %}
    </head>
    <body>
        <div class="top_menu">
            <ul>
                <a href="{{ path('home_after_login') }}"><li class="option">Strona Główna</li></a>
                <li>|</li>
                <a href="{{ path('answers') }}"><li class="option">Odpowiedzi</li></a>
                <li>|</li>
                <a href="{{ path('about_you') }}"><li class="option">O Tobie</li></a>
                <li>|</li>
                <a href="{{ path('tags') }}"><li class="option">Tagi</li></a>
                <li>|</li>
                <a href="{{ path('observed') }}"><li class="option">Obserwowani</li></a>
                <li>|</li>
                <a href="{{ path('user_account') }}"><li class="option">Twoje konto</li></a>
                <li>|</li>
                <a href="{{ path('config') }}"><li class="option">Konfiguracja</li></a>
                <li>|</li>
                <a href="{{ path('logout') }}"><li class="option">Wyloguj</li></a>
            </ul>
        </div>
        <br class="clear" />
        <div class="content">
            {% if app.session.started %}
                        {% for flashMessage in app.session.flashbag.get('notice') %}
                        {{ flashMessage }}
                        {% endfor %}
            {% endif %}
            
            {% block short_box %}
            {% endblock %}
            {% block long_box %}
            {% endblock %}
                
        </div>
    </body>
</html>